<div class="masthead">
  <ul class="language-nav">
    <li><a href="#">CSS</a></li>
    <li><a href="#">HTML</a></li>
    <li><a href="#">Javascript</a></li>
    <li><a href="#">Ruby</a></li>
  </ul>
  <img src="assets/AA_Times_Logo.png">
  <ul class="masthead-links">
    <li><%= Date.now %></li>
    <li id="newspaper-icon-btn"><i class="far fa-newspaper"></i><a href="#">Today’s Paper</a></li>
    <li id="video-icon-btn"><i class="fas fa-video"></i><a href="#">Video</a></li>
    <li class="button">77°F</li>
    <li class="button">AAO<span style="color:green">+100%</span></li>
  </ul>
</div>


